[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# Dev tools
flake8 = "==3.8.4"
mypy = "==0.790"
pylint = "==2.7.1"
autopep8 = "==1.5.5"
black = "==19.10b0"
isort = "==5.7.0"
rope = "==0.18.0"
# Documentation
Sphinx = "==3.5.1"
# Testing
tox = "==3.22.0"
pytest = "==6.2.2"
pytest-cov = "==2.11.1"
pytest-mock = "==3.5.1"
pytest-randomly = "==3.5.0"
pytest-xdist = "==2.2.1"
# Django dev tools
django-extensions = "==3.1.1"
django-debug-toolbar = "==3.2"
django-silk = "==4.1.0"
django-stubs = "==1.7.0"
pylint-django = "==2.4.2"
# Django - Testing
pytest-django = "==4.1.0"
django-coverage-plugin = "==1.8.0"
factory-boy = "==3.2.0"
# DRF - Browsable API
Markdown = "==3.3.4"
Pygments = "==2.8.0"
# DRF - Core API
coreapi = "==2.3.3"
PyYAML = "==5.4.1"
# DRF - mypy
djangorestframework-stubs = "==1.4.0"

[packages]
gunicorn = "==20.0.4"
psycopg2-binary = "==2.8.6"
Pillow = "==8.1.0"
# Django
Django = "==3.1.10"
django-environ = "==0.4.5"
django-health-check = "==3.16.3"
django-csp = "==3.7"
django-feature-policy = "==3.7.0"
django-http-referrer-policy = "==1.1.1"
django-cors-headers = "==3.7.0"
django-filter = "==2.4.0"
django-guardian = "==2.3.0"
whitenoise = "==5.2.0"
django-storages = "==1.11.1"
boto3 = "==1.17.17"
django-anymail = "==8.2"
graphene-django = "==2.15.0"
# DRF
djangorestframework = "==3.12.2"
djangorestframework-simplejwt = "==4.6.0"
djangorestframework-camel-case = "==1.2.0"
djoser = "==2.1.0"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
vet = "python setup.py vet"
fmt = "python setup.py fmt"
fmtchk = "python setup.py fmtchk"
